<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fiap.financas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".view.NovoUsuarioActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".view.MenuActivity"
            android:label="@string/titulo_activity_menu" >
        </activity>
        <activity
            android:name=".view.CalendarioActivity"
            android:label="@string/titulo_activity_calendario" >
        </activity>
        <activity
            android:name=".view.GanhosActivity"
            android:label="@string/title_activity_ganhos" >
        </activity>
        <activity
            android:name=".view.GastosActivity"
            android:label="@string/title_activity_gastos" >
        </activity>
        <activity
            android:name=".view.TotaisActivity"
            android:label="@string/title_activity_totais" >
        </activity>
        <activity
            android:name=".view.FinancasActivity"
            android:label="@string/title_activity_financas" >
        </activity>
    </application>

</manifest>